# .clangd - 项目根目录
# yaml语法

# clangd 工作流：
# 初次使用、新环境：安装clangd插件、下载clangd配置到path(或者让插件自动下载则不需要配置到path)：
# 新建build_tmp目录，在其中生成compile_commands.json以提供给clangd使用，如果想生成在其他目录也可以适应修改settings.json和.clangd就行
# 
# 如果windows中使用MSVC编译器，可以通过Ninja为其生成compile_commands.json：
# 需要在有ninja命令的命令行环境中启动(VS集成ninja，其终端中可以使用，否则需要自行安装并配置环境变量)
#   mkdir build_tmp
#   cmake -B build_tmp -G "Ninja" -DCMAKE_EXPORT_COMPILE_COMMANDS=ON
#
# 或者在Windows中使用MinGW Makefiles, 类Unix系统中使用 Unix Makefiles作为生成器：
#   cmake -B build_tmp -G "MinGW Makefiles" -DCMAKE_EXPORT_COMPILE_COMMANDS=ON -DCMAKE_BUILD_TYPE=Debug
#   cmake -B build_tmp -G "Unix Makefiles" -DCMAKE_EXPORT_COMPILE_COMMANDS=ON -DCMAKE_BUILD_TYPE=Debug
# 
# 添加新文件到项目中时重新执行一次
#
# 使用时配合MSVC标准库头文件总是有各种问题：
#   找不到MSVC头文件包含的内部头文件、fallback到clangd自带头文件、C++头文件被作为C头文件解析导致头文件诊断出一堆问题
#   尝试多种方法都无法解决，暂时就这样用了，项目内文件是没有问题的

# 全局配置
CompileFlags:
  CompilationDatabase: build_tmp

# 第三方库相关文件
If:
  PathMatch: "(3rdparty|3rdparty-install|3rdparty-src)/.*"
Diagnostics:
  # 禁用所有诊断
  Suppress: ["*"]
Index:
  # 后台索引时跳过第三方库，需要跳转时会临时建立索引，如果机器性能强悍则可以开启索引
  Background: Skip
